{% extends "main/base.html" %}
{% block content %}
    </head>
    <body>
       <h1>ABOUT PAGE</h1>
       <p>Hi. I'm Brian, a computer science undergraduate student from Taiwan who creates this website for personal projects purpose.</p>
       <p>All the data on this website are acquired from ARK Investment Management LLC. </p>
       <p>Please note that I am in no way affiliated with ARK Investment Management LLC. I also make no guarantees about the accuracy of the data presented here. This website is created to applying my academic knowledge. Please do not make investment decisions based solely on the information you see on this web site, but rather conduct your own Due Diligence as well!</p>
    </body>
{% endblock content %}
