{% extends "main/base.html" %}
{% block content %}
    <div>
        <h1>ARK ETF DAILY TRADE</h1> 
        
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Stock</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Date</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Price</th>
                        <th scope="col">Shares</th>
                        <th scope="col">Funds</th>

                    </tr>
                </thead>
                <tbody>
                    {% for trade in trades %}
                        {% if trade.direction == 'Buy' %}
                            <tr class="table-success">
                                <th scope="row" name="name">{{ trade.stock.name }}</th>
                                <td name="ticker">{{ trade.stock.ticker }}</td>
                                <td name="date">{{ trade.date | date:"F d, Y"}}</td>
                                <td name="direction">Buy</td>
                                <td name="price">{{ trade.stock.price }}</td>
                                <td name="share">{{ trade.shares }}</td>
                                <td name="fund">ARK</td>
                            </tr>
                        {% else %}
                            <tr class="table-danger">
                                <th scope="row" name="name">{{ trade.stock.name }}</th>
                                <td name="ticker">{{ trade.stock.ticker }}</td>
                                <td name="date">{{ trade.date | date:"F d, Y"}}</td>
                                <td name="direction">Sell</td>
                                <td name="price">{{ trade.stock.price }}</td>
                                <td name="share">{{ trade.shares }}</td>
                                <td name="fund">ARK</td>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        

        
    </div>

{% endblock content %}
