{% extends "main/base.html" %}
{% block content %}
    <div>
        <h1> ARKW ETF DAILY TRADE</h1> 
        Daily trade records from ARK. The information is provided by ARK!<br>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <a href="{% url 'main-dailytrade' %}"><button type="button" class="btn btn-outline-dark">ALL</button></a>
            <a href="{% url 'main-dailytrade-arkk' %}"><button type="button" class="btn btn-outline-dark">ARKK</button></a>
            <a href="{% url 'main-dailytrade-arkq' %}"><button type="button" class="btn btn-outline-dark">ARKQ</button></a>
            <a href="{% url 'main-dailytrade-arkf' %}"><button type="button" class="btn btn-outline-dark">ARKF</button></a>
            <a href="{% url 'main-dailytrade-arkg' %}"><button type="button" class="btn btn-outline-dark">ARKG</button></a>
            <a href="{% url 'main-dailytrade-arkw' %}"><button type="button" class="btn btn-outline-dark">ARKW</button></a>
            <a href="{% url 'main-dailytrade-arkx' %}"><button type="button" class="btn btn-outline-dark">ARKX</button></a>
            <a href="{% url 'main-dailytrade-prnt' %}"><button type="button" class="btn btn-outline-dark">PRNT</button></a>
            <a href="{% url 'main-dailytrade-izrl' %}"><button type="button" class="btn btn-outline-dark">IZRL</button></a>
        </div>
    </div>   
    <div>
        <br>
        {% include "main/dailytrade/table.html" %}

        {% include "main/dailytrade/paginator.html" %}

    </div>

{% endblock content %}
